BODY  {
	color : #666666;
	line-height : 1.7;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 14;
}

td {
	font-size : 14;
}

A  {
	text-decoration : none;
	color: #666666;
}

A:Visited  {
	text-decoration : none;
}

A:Active  {
	text-decoration : none;
}

A:Hover  {
	border-bottom-color : #ff0000;
	border-bottom-style : solid;
	border-bottom-width : 1;	
}

.TTitle {
	padding-bottom : 5;
	padding-left : 50;
	padding-right : 50;
	padding-top : 50;
}



.TBody  {
	padding-top : 30;
	padding-bottom : 50;
	padding-left : 50;
	padding-right : 50;
	line-height : 1.7;
}